USE [master]
GO
/****** Object:  Database [telerikapp]    Script Date: 9/5/2018 5:19:05 PM ******/
CREATE DATABASE [telerikapp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'New', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\New.mdf' , SIZE = 11328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'New_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\New_log.ldf' , SIZE = 7040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [telerikapp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [telerikapp]
GO
/****** Object:  StoredProcedure [dbo].[usp_country_get]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_country_get]
as 
begin
select * from country
end
GO
/****** Object:  StoredProcedure [dbo].[usp_emp_crud]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_emp_crud] 
(
@id int ,
@name varchar(20),
@address varchar(40),
@gender int,
@hobbies varchar(50),
@action int
)
as 
begin
if (@action=1)
begin
insert into employee values(@name,@address,@gender,@hobbies)
end
if (@action=2)
begin
update employee set name=@name,address=@address,gender=@gender,hobbies=@hobbies where id=@id
end
if (@action=3)
begin
delete from  employee  where id=@id
end
if (@action=4)
begin
select * from employee
end
end
GO
/****** Object:  StoredProcedure [dbo].[usp_emp_delete]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_emp_delete]
@id int
as
begin
delete from emp where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_emp_edit]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[usp_emp_edit]
@id int
as
begin
select * from emp where id= @id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_emp_get]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_emp_get]
as
begin
select emp.*,country.* from emp
join country
on emp.contry=country.cid
end
--select * from emp


GO
/****** Object:  StoredProcedure [dbo].[usp_emp_insert]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_emp_insert]
@name varchar(30),
@address varchar(50),
@age int,
@gender varchar(10),
@contry int,
@hobbies varchar(60),
@dob datetime,
@images image
as
begin
insert into emp values(@name,@address,@age,@gender,@contry,@hobbies,@dob,@images)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_emp_update]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_emp_update]
@id int,
@name varchar(30),
@address varchar(50),
@age int,
@gender varchar(20),
@contry int,
@hobbies varchar(60),
@dob datetime,
@images image
as
begin
update emp set name=@name, address=@address,age=@age,gender=@gender, contry=@contry, hobbies=@hobbies, dob=@dob,images=@images where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_employee_insert]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_employee_insert]
@name varchar(20),
@address varchar(40),
@gender int,
@hobbies varchar(50)

as
begin
insert into employee values(@name,@address,@gender,@hobbies)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_stmarks_get]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_stmarks_get]
as 
begin
select * from studentmarks
end
GO
/****** Object:  StoredProcedure [dbo].[usp_student_get]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_student_get]
as
begin 
select * from student
end
GO
/****** Object:  Table [dbo].[country]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[country](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[emp]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[emp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[address] [varchar](50) NULL,
	[age] [int] NULL,
	[gender] [varchar](10) NULL,
	[contry] [int] NULL,
	[hobbies] [varchar](60) NULL,
	[dob] [datetime] NULL,
	[images] [image] NULL,
 CONSTRAINT [PK__emp__3213E83F07E002C7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[student]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [varchar](30) NULL,
	[srollno] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[studentmarks]    Script Date: 9/5/2018 5:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[studentmarks](
	[stid] [int] IDENTITY(1,1) NOT NULL,
	[subjectid] [int] NULL,
	[subjectname] [varchar](20) NULL,
	[marks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[stid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[country] ON 

INSERT [dbo].[country] ([cid], [cname]) VALUES (1, N'india')
INSERT [dbo].[country] ([cid], [cname]) VALUES (2, N'pakistan')
INSERT [dbo].[country] ([cid], [cname]) VALUES (3, N'china')
SET IDENTITY_INSERT [dbo].[country] OFF
SET IDENTITY_INSERT [dbo].[emp] ON 

SET IDENTITY_INSERT [dbo].[emp] OFF
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([sid], [sname], [srollno]) VALUES (1, N'tttt', 120)
INSERT [dbo].[student] ([sid], [sname], [srollno]) VALUES (2, N'rave', 121)
INSERT [dbo].[student] ([sid], [sname], [srollno]) VALUES (3, N'riya', 122)
SET IDENTITY_INSERT [dbo].[student] OFF
SET IDENTITY_INSERT [dbo].[studentmarks] ON 

INSERT [dbo].[studentmarks] ([stid], [subjectid], [subjectname], [marks]) VALUES (1, 301, N'DBMS', 76)
INSERT [dbo].[studentmarks] ([stid], [subjectid], [subjectname], [marks]) VALUES (2, 302, N'Operating System', 56)
INSERT [dbo].[studentmarks] ([stid], [subjectid], [subjectname], [marks]) VALUES (3, 303, N'Data Strcture', 55)
SET IDENTITY_INSERT [dbo].[studentmarks] OFF
USE [master]
GO
